body {
    background-color: rgb(214, 141, 141);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    
}

.main-content {
    margin-top: 100px;
 
}


.main-image {
    width: 400px;
    display: block;
    margin: 0 auto;

}


.user-input {
    width: 800px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background-color: rgb(248, 250, 250);
    padding: 10px;
    display: block;
    margin: 10px;
    margin: 0 auto;
    

}
.btn-class{
    display: flex;
    justify-content: center;

}


.btn{
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    font-weight: light;
}

.card {
    width: 400px;
    background-color: lightskyblue;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: green;
    border-bottom: 2px solid green;
    
}

.portrait {
    width: 150px;
    height: 100%;


}